{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Order processing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="{% static 'processingapp/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'processingapp/assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'processingapp/assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'processingapp/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>SUPERMARKET REGISTER</strong></a>
{#                                    <a href="order/report" class="button special">Generate an order report</a>#}
                                </header>

                        <!-- Main content block -->
                            {% block main_block %}

                            {% endblock %}
						</div>
					</div>

{#				<!-- Sidebar -->#}
{##}
{#					<div id="sidebar">#}
{#						<div class="inner">#}
{##}
{#                        <!-- Section -->#}
{#                            <section>#}
{#                                <header class="major">#}
{#                                    <h2>About this aplication</h2>#}
{#                                </header>#}
{#                                <p>Order processing for supermarket register with discounts and presents.</p>#}
{#                              #}

		<!-- Scripts -->
			<script src="{% static 'processingapp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'processingapp/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'processingapp/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'processingapp/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'processingapp/assets/js/main.js' %}"></script>

	</body>
</html>