{% extends "processingapp/base.html" %}
{% load staticfiles %}

<!DOCTYPE HTML>

{% block main_block %}

    <!-- Box1 -->
    <h3>Messages</h3>
    <div class="box">
        {% for message in information_messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>

    <!-- Box2 -->
    {% if list_of_presents %}
        <h3>List of Presents</h3>
        <div class="box">
        {% for key, value in list_of_presents.items %}
        <p>{{ key }}={{ value }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <h3>Table of goods</h3>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            <tbody>
                {% for item in list_of_goods_objects %}

                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ goods_in_order }}</td>

                    <th class="actions">
                        <a href="/order/del/{{ item.name }}" class="button special">DELETE</a>
                    </th>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>{{ total_for_order }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <h3> Total: {{ total_for_order }}  </h3>

    <!-- Form -->
    <h3>   </h3>
    <h3>Input menu</h3>

    <form method="post" action="/order/add">
        {% csrf_token %}
        {{ form }}

        <div class="row uniform">
            <div class="6u$ 12u$">
                <div class="select-wrapper">
                    <select name="name" id="name">

                        <option value="">Choose name item</option>
                        {% for item in all_available_goods %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="6u$ 12u$(xsmall)">
                <input type="text" name="quantity" id="quantity" value="" placeholder="Enter quantity for item" />
            </div>

            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="ADDITION ITEM" class="special" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>

            <div class="6u$ 12u$">
                <ul class="actions fit">
                    <li><a href="order/next/" class="button special fit">NEXT ORDER</a></li>
                </ul>
            </div>
        </div>
    </form>

{% endblock %}